header{
  top: 0px;
  height: 90px;
  background-color: blue;
  position: fixed;
  width: 100%;
}

body{
  margin-top: 90px;
}

h1.title_desc{
  top: 160px;
}

.background-fixed{
  position: fixed;
  top: 90px;
}

section{
  height: 500px;
}

.description_slide{
  background-color: blue;
  color: white;
}